Prior/RE_gene_corr_hg19.bed filter=lfs diff=lfs merge=lfs -text
Prior/RE_gene_corr_hg38.bed filter=lfs diff=lfs merge=lfs -text
prior/RE_gene_corr_mm10.bed filter=lfs diff=lfs merge=lfs -text
prior/RE_gene_corr_mm9.bed filter=lfs diff=lfs merge=lfs -text
Prior/Opn_median_hg19.bed filter=lfs diff=lfs merge=lfs -text
Prior/Opn_median_hg38.bed filter=lfs diff=lfs merge=lfs -text
prior/Opn_median_mm10.bed filter=lfs diff=lfs merge=lfs -text
prior/Opn_median_mm9.bed filter=lfs diff=lfs merge=lfs -text
prior/TFTG_corr_mouse.mat filter=lfs diff=lfs merge=lfs -text
prior/TFTG_corr_human.mat filter=lfs diff=lfs merge=lfs -text
prior/Enhancer_RE_gene_corr_hg19.bed filter=lfs diff=lfs merge=lfs -text
prior/Opn_median_hg19.bed filter=lfs diff=lfs merge=lfs -text
prior/Enhancer_RE_gene_corr_mm10.bed filter=lfs diff=lfs merge=lfs -text
prior/Enhancer_RE_gene_corr_mm9.bed filter=lfs diff=lfs merge=lfs -text
prior/RE_gene_corr_hg19.bed filter=lfs diff=lfs merge=lfs -text
prior/RE_gene_corr_hg38.bed filter=lfs diff=lfs merge=lfs -text
prior/Enhancer_RE_gene_corr_hg38.bed filter=lfs diff=lfs merge=lfs -text
prior/Opn_median_hg38.bed filter=lfs diff=lfs merge=lfs -text
